.btn {
    border: 1px solid transparent;
    outline: none;
    display: inline-block;
    max-width: 150px;
    width: 100%;
    padding: 8px 15px;
    border-radius: 10px;
    color: #fff;
    background-color: aqua;
    text-transform: uppercase;
    margin-left: 10px;

    &:hover {
        background-color: transparent;
        color: aqua;
        border-color: aqua;
    }
}